<div class="modal fade" id="paymentModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4 text-center border-0 rounded-4 shadow">
      <div class="modal-header border-0 justify-content-center">
        <h5 class="modal-title fw-bold text-success">
          Pagar para {{ receiver.nome }}
        </h5>
        <button type="button" class="btn-close position-absolute end-0 me-3" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <img [src]="receiver.avatar" class="avatar-modal mb-3" alt="{{ receiver.nome }}">
        <p class="text-muted">
          Saldo atual de <strong>{{ sender.nome }}</strong>: {{ sender.saldo | currency:'BRL' }}
        </p>

        <input type="number" [(ngModel)]="amount" placeholder="Digite o valor" class="form-control mb-3">

        <button class="btn btn-success w-100 fw-semibold py-2" (click)="pagar()" data-bs-dismiss="modal">
          Confirmar Pagamento
        </button>
      </div>
    </div>
  </div>
</div>
